# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
.idea/
apiclient_cert.pem
apiclient_key.pem
*.bak
pay_test_local.go
users_test_bak.go
1603541829_cert.pem
1603541829_key.pem
applysubject_test_local.go
cert_test_local.go
Public_test_local.go
微信图片_20201028105758.png
applymentsub_test_local.go
applysubject.go.1
applysubject.go.1_test.go.1
applysubject_test_local.go.1
applysubject_type.go.1
cancel_test_local.go
organization_test_local.go
1.jpg
xp_c.pem
xp_k.pem
local_test.go
